@{
    ViewData["Title"] = "Home Page";
}
<a href="dashboard">Dashboard</a>
<a href="logout">Sign Out</a>
<h3>Add a new wedding!</h3>

@model WeddingPlanner.Models.AddWeddingViewModel

<form asp-action="MakeWedding" asp-controller="Dash">
    <table>
        <tr>
            <td>Wedder One:</td>
            <td>You</td>
            <td><input type="hidden" asp-for="WedderOneId" value=@ViewBag.user.Id></td>
        </tr>
        <tr>
            <td>Wedder Two: </td>
            <td>
                <select asp-for="WedderTwoId">
                    @{
                        foreach (var user in ViewBag.unwedUsers){
                            <option value=@user.Id> @user.FirstName @user.LastName </option>
                        }
                    }
                </select>
            </td>
            <td><span asp-validation-for="WedderTwoId"></span></td>
        </tr>
        <tr>
            <td>Date: </td>
            <td><input asp-for="Date" type="text"></td>
            <td><span asp-validation-for="Date"></span></td>
        </tr>
        <tr>
            <td>Address: </td>
            <td><input type="text" asp-for="Address"></td>
            <td><span class="Address"></span></td>
        </tr>
    </table>
    <input type="submit" value="Add Wedding!">
</form>