@{
    ViewData["Title"] = "Home Page";
}
<h3>Add a new wedding!</h3>
<a href="dashboard">Dashboard</a>
<a href="logout">Sign Out</a>

<h2> You're already married, bruh :/ </h2>

<h5> Here's a number to a divorce lawyer: 1-800-IHATEMYSPOUSE </h5>